
<form method='POST' action='/users/add'>
  <label>Person</label><br>
  <input type="text" name="email">
  <input type="submit" value="Submit">
</form>
<% users.forEach(function(user){ %>
  <li><%=user.email %></li>
<% }) %>
